body {
  margin: 20px auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
  text-align: center;
  padding: 20px 80px 20px 80px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(20, 45, 79);
  max-width: 750px;
  background-image: url(pictures/backgroung.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: fit-content;

  block-size: fit-content;
}
.app {
  min-width: max-content;
  min-height: max-content;
}

.navbar {
  padding: 0 100px;
  margin: 0 10px;
  resize: none;
  width: fit-content;
}
.searchButton {
  background-color: rgb(232, 204, 199, 0.507);
  border: 1px solid #000;
  color: #000;
  transition: all 150ms ease-in-out;
}
.searchButton:hover {
  background: rgb(208, 225, 175, 0.507);
}

.locationButton {
  background-color: rgb(232, 204, 199, 0.507);
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  color: #000;
  transition: all 150ms ease-in-out;
}
.locationButton:hover {
  background: rgb(208, 225, 175, 0.507);
}

.currentWeather {
  background-color: rgba(148, 205, 246, 0.321);
  border: 5px solid rgb(32, 74, 135, 0.3);
  border-radius: 8px;
  transition: all 150ms ease-in-out;
  margin-top: 20px;
}
.currentWeather:hover {
  background-color: rgb(208, 225, 175, 0.507);
  cursor: pointer;
}
.col {
  padding: 20px, 20px, 20px, 20px;
}

h1 {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px 2px #888a85;
  margin-top: 20px;

  max-block-size: none;
}
.update {
  margin: 20px, 10px;
}
h3 {
  padding: 30px, 20px, 20px, 20px;
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  text-decoration: underline;
}
.thermometerEmoji {
  position: relative;
  left: 11px;
  bottom: 5px;
}
.currentDegrees {
  font-size: 55px;
  text-shadow: 3px 3px 3px #888a85;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;

  padding: 20px, 20px, 20px, 10px;
}

.celcius {
  font-size: 35px;

  text-shadow: 1px 1px 1px #888a85;

  position: relative;
  bottom: 16px;
}
.conditions {
  font-size: 18px;
  text-align: left;
  line-height: 32px;
  text-shadow: none;
  list-style: none;
  white-space: nowrap;
}
.currentEmoji {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
.weatherDescription {
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  position: relative;
  bottom: 4px;
}

.forecast-week {
  margin-top: 40px;
}
.sat {
  background-color: rgba(148, 205, 246, 0.507);
  border: 2px solid rgb(32, 74, 135, 0.3);
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
  transition: all 150ms ease-in-out;
  margin: 40px 10px 10px 10px;
  font-size: 18px;
  width: fit-content;

  block-size: fit-content;
}
.sat:hover {
  background-color: rgb(208, 225, 175, 0.507);
  cursor: pointer;
}

.day {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.mintemp {
  opacity: 0.7;
}
.source {
  margin-top: 20px;
}
